/*----------- PSEUDOCLASES PARA ETIQUETAS < A > --------------*/

a:link {color: red;}
a:hover {background-color: yellow;}
a:visited {color: blue;}
a:active {background-color: green; color: white;}


